@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-title {
  font-weight: 400;
  line-height: 1.125;
  text-transform: capitalize;
}

.section__text {
  max-width: 330px;
  font-size: 36px;
  line-height: 1.1388888889;
  text-transform: uppercase;
  margin-bottom: 2px;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--black);
  margin-bottom: 10px;
}

body {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: var(--gray);
  min-width: 320px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Скрытие заголовка */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Helvetica";
  src: url("/scss/components/fonts/helvetica.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/scss/components/fonts/helvetica-bold.woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --black: #070707;
  --gray: #5C5C5E;
  --gradient: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  --white: #F6F4F5;
  --light-grey: #CACAD6;
}

.header {
  border-bottom: 1px solid var(--light-grey);
}

.nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 80px;
}
.nav-menu__list {
  display: flex;
  gap: 20px;
}
@media screen and (width < 820px) {
  .nav-menu__list {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 320px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #000;
    color: #fff;
    padding: 50px;
    transform: translateX(-100%);
    transition: transform 1s ease;
  }
  .nav-menu__item {
    font-size: 24px;
  }
  .nav .open {
    transform: translateX(0%);
  }
}
@media screen and (width < 568px) {
  .nav {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
@media screen and (width < 420px) {
  .nav-menu__list {
    width: 100%;
  }
}

.menu-btn {
  display: none;
  width: 40px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.menu-btn span {
  width: 100%;
  height: 2px;
  background-color: #000;
}
@media screen and (width < 820px) {
  .menu-btn {
    display: flex;
  }
}

.hero {
  padding-bottom: 454px;
  min-height: calc(100vh - 81px);
  margin: 0 auto;
  background-image: url(../images/hero@1x.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background: url(../images/hero@2x.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background: url(../images/hero@3x.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}
.hero__title {
  padding-top: 16%;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.1458333333;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1388888889;
  margin-bottom: 5px;
}
.hero__info {
  font-size: 13px;
  line-height: 1.1538461538;
  margin-bottom: 50px;
}
.hero__text {
  padding-top: 6px;
  font-size: 13px;
}
@media screen and (width < 768px) {
  .hero {
    text-align: center;
  }
  .hero__title {
    font-size: 66px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
}
@media screen and (width < 420px) {
  .hero {
    text-align: center;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
}

.buy-btn {
  display: flex;
  font-weight: 700;
  background: var(--gradient);
  border: none;
  padding: 1px;
  text-transform: uppercase;
}
.buy-btn__text {
  padding: 20px 110px;
  color: var(--white);
  padding-left: 111px;
  padding-right: 111px;
}
.buy-btn__price {
  padding: 20px 105px;
  color: var(--gray);
  background-color: var(--white);
}
@media screen and (width < 624px) {
  .buy-btn {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
}

.features {
  padding-top: 100px;
  padding-bottom: 100px;
}
.features__titles {
  display: flex;
}
.features__title {
  flex-basis: 300px;
  padding-right: 10px;
}
@media screen and (width < 568px) {
  .features {
    padding-bottom: 20px;
  }
  .features__titles {
    display: block;
  }
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}
.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.tabs__btn-item {
  font-weight: 700;
  line-height: 1.125;
}
.tabs__btn-item--active {
  color: var(--black);
}
.tabs__content {
  position: relative;
  min-height: 300px;
}
.tabs__content-item {
  position: absolute;
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.tabs__content-item--active {
  opacity: 1;
}
.tabs__content-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1666666667;
}
.tabs__content-box p {
  line-height: 1.125;
}
.tabs__content-img {
  width: auto;
  grid-row: 1/-1;
  align-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (width < 992px) {
  .tabs {
    display: block;
  }
  .tabs__btn {
    display: block;
    -moz-column-count: 2;
         column-count: 2;
    margin-bottom: 10px;
  }
  .tabs__btn-item {
    display: block;
    margin-bottom: 10px;
  }
}
@media screen and (width < 568px) {
  .tabs__content-item {
    display: block;
    height: 0;
    position: relative;
  }
  .tabs__btn-item--active {
    height: auto;
  }
  .tabs__content {
    height: 537px;
  }
}
@media screen and (width < 420px) {
  .tabs__btn {
    -moz-column-count: 1;
         column-count: 1;
  }
}

.video {
  grid-column: 2/3;
  width: 280px;
  height: 150px;
  background-image: url(../images/content-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.video__btn-img {
  margin-left: 31px;
  width: 50px;
  height: 50px;
}
.video__text {
  display: inline-block;
  padding: 9px 10px;
  font-size: 13px;
  line-height: 1.1538461538;
  color: var(--white);
}
@media screen and (width < 568px) {
  .video {
    margin-top: 20px;
    width: auto;
  }
}

.games {
  margin-bottom: 100px;
}
.games__title {
  margin-bottom: 50px;
}
.games__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.games__descr {
  padding-right: 10px;
}
.games__descr-text {
  margin-top: 8px;
  margin-bottom: 24px;
}
.games__link {
  width: 225px;
  padding: 16px 15px 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.games__item {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 22px 20px;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.games__item-img {
  margin-bottom: 10px;
}
.games__item-text {
  margin-bottom: 40px;
}
.games__item-link {
  margin-top: auto;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (width < 992px) {
  .games__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
@media screen and (width < 568px) {
  .games__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}

.oculus {
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
.oculus__title {
  position: absolute;
  font-weight: 700;
  font-size: 400px;
  line-height: 1;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
  z-index: -1;
  -webkit-animation: line-text 6s linear 1s infinite;
          animation: line-text 6s linear 1s infinite;
}
.oculus__img {
  margin-bottom: 30px;
  width: 346px;
  margin-right: auto;
  margin-left: auto;
}
.oculus .buy-btn {
  margin: 0 auto;
}
@-webkit-keyframes line-text {
  from {
    transform: translateX(100%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-100%);
    transform-origin: right center;
  }
}
@keyframes line-text {
  from {
    transform: translateX(100%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-100%);
    transform-origin: right center;
  }
}

.box {
  margin-bottom: 100px;
}
.box__title {
  margin-bottom: 50px;
}
.box__inner {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}
.box__img {
  margin-bottom: 10px;
}
.box__text--gradient {
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box__item--one {
  grid-row: 1/-1;
}
@media screen and (width < 820px) {
  .box__inner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (width < 568px) {
  .box__inner {
    display: block;
  }
  .box__img {
    width: 100%;
  }
  .box__text {
    margin-bottom: 10px;
  }
}

.promo {
  margin-bottom: 100px;
}
.promo__inner {
  position: relative;
  min-height: 500px;
  background-image: url("/images/promo/promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo__btn {
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  border-radius: 50%;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.accessories {
  margin-bottom: 100px;
}
.accessories__title {
  margin-bottom: 30px;
}
.accessories__text {
  max-width: 630px;
  margin-bottom: 30px;
}
.accessories__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.accessories__item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 18px;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
.accessories__item .item-title {
  min-height: 56px;
}
.accessories__item-info {
  margin-top: auto;
  margin-bottom: 42px;
}
.accessories__item-price {
  margin-top: auto;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--black);
}
.accessories__img {
  margin-bottom: 10px;
}
.accessories__btn {
  width: 100%;
  margin-top: auto;
  padding: 6px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  -o-border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
     border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
}
@media screen and (width < 992px) {
  .accessories__inner {
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
  }
}
@media screen and (width < 568px) {
  .accessories__inner {
    grid-template-columns: repeat(1, 2fr);
    gap: 20px;
  }
  .accessories__text {
    font-size: 28px;
  }
}

.subscribe {
  margin-bottom: 100px;
}
.subscribe__title {
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--black);
}
.subscribe__inner {
  display: flex;
}
.subscribe__form-inner {
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
}
.subscribe__form {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.subscribe__form-input {
  padding: 22px 70px 22px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--light-grey);
}
.subscribe__form-input::-moz-placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--light-grey);
}
.subscribe__form-input:-ms-input-placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--light-grey);
}
.subscribe__form-input::placeholder {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--light-grey);
}
.subscribe__form-btn {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--light-grey);
  border-radius: 50%;
}
.subscribe__text {
  font-size: 13px;
  line-height: 1.1538461538;
}
.subscribe__link {
  align-self: end;
  margin-left: auto;
}
@media screen and (width < 820px) {
  .subscribe__inner {
    display: block;
  }
  .subscribe__form-inner {
    margin-bottom: 20px;
  }
}

.footer {
  margin-bottom: 40px;
  padding: 20px 0;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}
@media screen and (width < 1140px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer .nav-menu__list {
    display: none;
  }
  .footer .nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width < 568px) {
  .footer .nav {
    grid-template-columns: 1fr;
    height: auto;
    align-self: center;
  }
}

.social {
  display: flex;
  gap: 20px;
  justify-self: end;
  align-items: center;
}
@media screen and (width < 568px) {
  .social {
    margin-top: 20px;
    justify-self: center;
    gap: 50px;
  }
}

.logo {
  justify-self: center;
}

.basket {
  position: relative;
  justify-self: end;
}

.basket span {
  position: absolute;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 0;
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  right: -2px;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */