.buy-btn {
    display: flex;
    font-weight: 700;
    background: var(--gradient);
    border: none;
    padding: 1px;
    text-transform: uppercase;

    &__text {
        padding: 20px 110px;
        color: var(--white);
        padding-left: 111px;
        padding-right: 111px;
    }

    &__price {
        padding: 20px 105px;
        color: var(--gray);
        // background-color: #fff; 
        background-color: var(--white);
    }

    @media screen and (width < 624px){
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}