// 400
@font-face {
    font-family: 'Helvetica';
    src: url('/scss/components/fonts/helvetica.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica';
    src: url('/scss/components/fonts/helvetica-bold.woff2');
    font-weight: 700;
    font-style: normal;
}
