.tabs {
    display: grid;
    grid-template-columns: 300px auto;

    &__btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__btn-item {
        font-weight: 700;
        line-height: calc(18/16);

        &--active {
            color: var(--black);
        }
    }

    &__content {
        position: relative;
        min-height: 300px;
    }

    &__content-item {
        position: absolute;
        display: grid;
        grid-template-columns: auto 280px;
        grid-template-rows: auto 150px;
        gap: 40px;
        opacity: 0;
        transition: opacity .3s ease;

        &--active {
            opacity: 1;
        }
    }

    &__content-title {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: calc(28/24);
    }

    &__content-box p {
        line-height: calc(18/16);
    }

    &__content-img {
        width: auto;
        grid-row: 1/-1;
        align-self: stretch;
        object-fit: cover;
    }

    @media screen and (width < 992px) {
        display: block;

        &__btn {
            display: block;
            column-count: 2;
            margin-bottom: 10px;

            &-item {
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    @media screen and (width < 568px) {
        &__content-item {
            display: block;
            height: 0;
            position: relative;
        }
        &__btn-item--active {
            height: auto;
        }

        &__content {
            height: 537px;
        }
    }

    @media screen and (width < 420px) {
        &__btn {
            column-count: 1;

        }
    }
}